<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <title>Error Message</title>
</head>
<body class="m-4">
<h1 class="display-4 text-center mx-2 my-lg-5 p-3 bg-danger">An Error Occurred!!!</h1>
<div>
    <p>Error Message:</p>
    <!--/*@thymesVar id="message" type="aj"*/-->
    <h2 th:if="${venueName}"><p th:text="|Venue: ${venueName}|">Venue</p></h2>
    <p th:unless="${venueName}">No Venue Was Chosen!</p>
    <h2 class="text-monospace text-danger small" th:text="${message}">Error Message</h2>
</div>
<p>
    <a href="/">Home</a>
</p>
<script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
</body>
</html>