<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <title th:text="${appName}">Party</title>
</head>
<body class="m-4">
<div class="nav"><h1 th:text="${appName}"> app</h1></div>

<div class="row1">
    <div class="row1content">
        <div>
            <h2 th:text="${message}">yeahyyeahyeaheah</h2>
            <ul>
                <li th:each="venue:${venues}">
                    <a th:text="${venue.venueName }"
                       th:href="'venue/'+${venue.id}"
                       href="venue.html"
                       class="buttonLook mediumButton">the venue name</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttons"><a class="buttonLook largeButton" href="blabla">blabla</a></div>
</div>
<div class="row2">
    <h1>come party with us</h1>
    <hr>
    <hr>
    <hr>
</div>
<div class="row3">
    <h3>Contact us:</h3>
    <p>my name</p>
    <p>my address</p>
    <p>2800 Mechelen</p>
    <p>0476/123123</p>
</div>
<div class="my-3">
    <p id="date" class="text-center text-monospace text-danger display-4"></p>
</div>
<script>
    y = 2020;
    m = 4;
    d = 24;
    document.getElementById("date").innerHTML = "copyright "+d + "/" + m + "/" + y;
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
</body>
</html>